:root {
    --size: 30vw;
    --ear-size: calc(var(--size) / 2.5);
    --ear-offset: calc(var(--ear-size) / -3.5);
    --eye-size: calc(var(--size) / 5);
    --eye-offset: calc(var(--size) / 1.7);
    --eye-iris-size: calc(var(--eye-size) * 0.75);
    --eye-pupil-size: calc(var(--eye-iris-size) * 0.8);
    --nose-size: calc(var(--size) / 10);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* TO DO: improve head shape */

.head {
    width: var(--size);
    height: var(--size);
    background-color: #000;
    border-radius: 50%;
    position: relative;
}

.ear {
    width: var(--ear-size);
    height: var(--ear-size);
    background-color: #000;
    position: absolute;
    top: calc(var(--ear-offset) / 1.5);
}

.ear:first-child {
    left: var(--ear-offset);
    border-bottom-left-radius: 80%;
    transform: rotate(27deg);
}

.ear:nth-child(2) {
    right: var(--ear-offset);
    border-bottom-right-radius: 80%;
    transform: rotate(-27deg);
}

.eye {
    display: flex;
    height: var(--eye-size);
    width: var(--eye-size);
    background-color: greenyellow;
    position: absolute;
    top: 28%;
    right: var(--eye-offset);
    border-radius: 80% 20%;
    transform: rotate(60deg);
    justify-content: center;
    align-items: center;
}

.eye ~ .eye {
    left: var(--eye-offset);
    transform: rotate(30deg);
}

/* Eye iris */

.eye::before, .eye::after{
    content: '';
    position: absolute;
    height: var(--eye-iris-size);
    width: var(--eye-iris-size);
    background-color: yellow;
    border-radius: 50%;
}

/* Eye pupil */

.eye::after {
    content: '';
    position: absolute;
    height: var(--eye-pupil-size);
    width: var(--eye-pupil-size);
    background-color: #000;
    border-radius: 0 100%;
}

.nose {
    width: 0;
    height: 0;
    border-left: var(--nose-size) solid transparent;
    border-right: var(--nose-size) solid transparent;
    border-top: var(--nose-size) solid pink;
    position: absolute;
    top: 55%;
    left: calc(45% - (var(--nose-size) / 2));
    border-radius: 30%;
}