:root {
	--plate-size: 30vw;
	--inner-plate-size: calc(var(--plate-size) / 2);
	--cup-size: calc(var(--plate-size) * 0.8);
	--cup-ear-size: calc(var(--cup-size) * 0.4);
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	background-color: #907564;
}

.container {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.cup {
	position: absolute;
	bottom: calc(var(--inner-plate-size) * 0.9);
	z-index: 2;
	background-color: #fff;
	height: var(--cup-size);
	width: var(--cup-size);
	border-radius: 20% 20% 50% 50%;
}

.cup::after {
	content: '';
	position: absolute;
	top: 15%;
	left: calc(var(--cup-size) * 0.8);
	width: var(--cup-ear-size);
	height: var(--cup-ear-size);
	border: #fff solid;
	border-width: 2vw 2vw 2vw 0;
	border-radius: 0 50% 50% 0;
}

.plate {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #fff;
	height: var(--plate-size);
	width: var(--plate-size);
	border-radius: 50%;
	transform: rotate3d(8, -1, -1, -0.2turn);
}

.plate::before {
	content: '';
	position: absolute;
	background-color: #aaa;
	height: var(--inner-plate-size);
	width: var(--inner-plate-size);
	border-radius: 50%;
}
